nav {
	background-color: rgb(255, 102, 0);
}

body {
	background-color: #f7f6f0;
}

.glyphicon {
    font-size: 20px;
    cursor: pointer;
}

#upvotes {
	display: inline;
}

#title h1 a {
	color: black;
	text-decoration: none;
}

.submitHome h4 {
	margin-top: 20px;
}

.submitSuggestion h4 {
	margin-top: 20px;
}

.suggestions button {
	margin-bottom: 20px;
}

#task {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #E0E0E0;
}

