<div ng-controller="HomeController">

  <div ng-repeat="post in posts | orderBy: 'upvotes': true">
    <h3>{{post.title}}</h3>
      <p id="upvotes">
        <span class="glyphicon glyphicon-plus" ng-click="upVote(post)"></span>
        Upvotes: {{post.upvotes}} | 
      </p>
      <a href="#/suggestion/{{$index}}">Comments</a>
  </div>

  <form ng-submit="addSuggestion()" style="margin-top 50px" class="submitHome">
    <h4>Submit Your Suggestion</h4>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Great ideas here" ng-model="title"></input>
    </div>
    <button type="submit" class="btn btn-primary">Suggest</button>
  </form>
</div>