<div class="suggestions" ng-controller="SuggestionController">
	<h3>{{post.title}}</h3>

  <form ng-submit="addComment()" style="margin-top 50px" class="submitSuggestion">
    <h4>Have something to say?</h4>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Your comments here" ng-model="comment"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add Comments</button>
	
	<div ng-repeat="comment in post.comments | orderBy: 'upvotes': true">
		<p>{{comment.body}}</p>
		<p id="task">
			<span class="glyphicon glyphicon-plus" ng-click="upVoteComment(comment)"></span>
			Upvotes: {{comment.upvotes}}
		</p>
	</div>
</div>
